# Required for authentication
NEXTAUTH_URL="http://app.localhost:3000"
AUTH_SECRET="" # Generated with: openssl rand -base64 32

# GitHub OAuth
AUTH_GITHUB_ID="" # Add your GitHub OAuth App client ID
AUTH_GITHUB_SECRET="" # Add your GitHub OAuth App client secret

# Domain configuration
NEXT_PUBLIC_ROOT_DOMAIN="localhost:3000"
# NEXT_PUBLIC_VERCEL_DEPLOYMENT_SUFFIX="localhost:3000"


# API Keys
COGNI_HOME_API_KEY=""
FASTAPI_URL="http://localhost:8000"

